/* Colors */
/* backgrounds */
$main-bg: hsl(218, 28%, 13%);
$intro-bg: hsl(217, 28%, 15%);
$testimonial-bg: hsl(219, 30%, 18%);
$footer-bg: hsl(216, 53%, 9%);
$white: hsl(0, 0, 100);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
